body{
    background-color: aquamarine;
}

main{
    background-image: url(../assets/bg.png);
    
}

.quicksand-font-normal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
header, .curriculum-section, .ourstories{
    max-width: 1160px;
    margin: 0 auto;
}

.display-flex{
    display: flex;
}
/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.menubar ul{
    gap: 32px;
    align-items: center;
}
.menubar ul>li{
    list-style: none;
    font-size: 1.25rem;
}
.menubar .home{
    color: orange;
    font-weight: 700;
}
.menubar .about{
    color:#01ACFD;
    font-weight: 500;
}
.menubar .facilities{
    color:#05D4DF;
    font-weight: 500;
}
.menubar .admission{
    color:#5D58EF;
    font-weight: 500;
}

.btn-primary{
    background-color: orange;
    color: white;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    font-size:1.25rem ;
    margin-left: 186px;
}

.open-menu{
    top:50% ;
    right: 20px;
    transform: translateY(-50%);
    display: none;
}
/* banner section */
.banner-container{
    align-items: center;
    gap: 50px;
    
}

.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
}
.empowering{
    color: orange;
}
.vision{
    color: skyblue;
}
.banner-description{
    font-size: 1.25rem;
}
.btn-enroll{
    background-color: black;
    color: white;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    font-size:1.25rem ;
}
/* curriculum section */
.curriculum-section{
    /* background-image: url(../assets/bg.png); */
    margin-top: 0 auto;
}
.section-title{
    text-align: center;
    font-size: 2.875rem;
    font-weight: 700;
    /* margin-top: 60px; */
    /* margin-bottom: 80px; */
}
.curriculum-container{
    gap: 28.29px;
    margin-top: 80px;
}
.curriculum-container .card-1,.card-2,.card-3{
    background-color: #FFFFFF;
    text-align: center;
    /* border: 1px solid #F2E8FF; */
    border-radius: 19px;
    box-shadow:0 30px 28.3px 0.94px rgba(0, 0, 0, 0.05) inset ;
    padding-top: 53px;
    padding-bottom: 60px;
}

/* .curriculum-container .card-2{
    box-shadow: 0px 30px 28px 0.94px #FFF4DC inset; */

.read-more-1{
    color: #64C8FF;
}
.read-more-2{
    color:#F0AA00;
}
.read-more-3{
    color:#8700FF;
}
.btn-action{
    justify-items: center;
    
}
.action-arrow{
    gap: 10px;
}
.btn-circle{
    background-color: orange;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: white;
    font-size: 2rem;
    font-weight:500;
    margin-top: 80px;
    margin-bottom: 60px;
}
/* our stories styles */

.ourstories{
    background-image: url(../assets/bg.png);
    margin: 0 auto;
}

.stories-container{
    gap: 19px;
}

.lifeskills{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 19px;
}

.coloring-training .btn-story-1{
    padding: 15px 19px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 47.93px;
    margin-left: 38.35px;
}
.coloring-training{
    position: relative;
    width: 100%;
    max-width: 540px;
    background-color: white;
    border: 1px solid aquamarine;
    border-radius: 16px;
    
}
.coloring-training img{
    width: 100%;
}

.coloring-training .btn-story-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: -145px;
    margin-top: 40px;

}
.stories-container img{
    border-radius: 16px 16px 0 0;
}
.coloring-training h3{
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 38.35px;
    padding-right: 38.35px;
}
.coloring-training p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 28.8px;
    color: #666666;
    padding-left: 38.35px;
    padding-right: 38.35px;
}
.lifeskills .skills-1,.skills-2,.skills-3, .skills-4{
    background-color: white;
    border-radius: 16px;
}
.lifeskills .skills-title{
    font-size: 1rem;
    font-weight: 700;
    line-height: 28.8px;
    padding-left: 38px;
    padding-right: 54px;
    
}
.skills-1{
    position:relative;
    width: 100%;
    max-width: 291px;
}
.skills-1 img{
    width: 100%;
}
.skills-1 .skills-btn1{
    width: 65%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 37px;
    margin-left: -15px;    
}
.skills-2{
    position:relative;
    width: 100%;
    max-width: 291px;
}
.skills-2 img{
    width: 100%;
}
.skills-2 .skills-btn2{
    width: 65%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 37px;
    margin-left: -15px;    
}
.skills-3{
    position:relative;
    width: 100%;
    max-width: 291px;
}
.skills-3 img{
    width: 100%;
}
.skills-3 .skills-btn3{
    width: 65%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 28px;
    margin-left: -15px;    
}
.skills-4{
    position:relative;
    width: 100%;
    max-width: 291px;
}
.skills-4 img{
    width: 100%;
}
.skills-4 .skills-btn4{
    width: 65%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 28px;
    margin-left: -15px;    
}


.lifeskills button{
    padding: 15px 19px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 47.93px;
    /* margin-left: 38.35px; */
}
.btn-story-1{
    background-color: #3CD8E8;
}
.skills-btn1{
    background-color:#95B226;
}
.skills-btn2{
    background-color:#5D58F0;
}
.skills-btn3{
    background-color:#95B226;
}
.skills-btn4{
    background-color:#95B226;
}
.ourstories .btn-view{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

/* footer section styles */
.footer{
    background-color: #01ACFD;
}
.footer-container{
    max-width:1160px;
    margin: 0 auto;
    color: white;
    justify-content: space-between; 
    padding: 123px 0 174px 0;
          
}
.footer-section-1{
    max-width: 400px;
    
}
.footer-logo-title{
    align-items: center;
}

.footer-logo-title h1{
    font-size: 2.5rem;
    line-height: 36px;
    margin: 0;
}
.footer-logo-title p{
    font-size: 1.25rem;
}
    

.footer-section-2 h3{
    font-size: 1.5rem;
    font-weight: 700;
}
.footer-section-2 ul{
    padding-left: 0;
}
.footer-section-2 li{
    list-style: none;
    line-height: 30px;
    
}
.footer-section-3 h3{
    font-size:1.625rem;
    font-weight: bold;
}

@media screen and (max-width:576px){
    
    .header{
        margin: 10px auto;
    }
    
    .logo-title{
        display: none;
    }
    .menu-list{
        display: none;
    }
    .banner-container{
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-container img{
        max-width: 100%;
    }
    .curriculum-container{
        flex-direction: column;
    }
    .stories-container{
        flex-direction: column;
    }
    .action-arrow{
        display: none;
    }
    .coloring-training{
        display: none;
    }
    .lifeskills{
        grid-template-columns: repeat(2,1fr);
        text-align: center;
        max-width: 100%;
    }
    .skills-1,.skills-2,.skills-3,.skills-4{
        max-width: 100%;
    }
    .footer-container{
        flex-direction: column;
        text-align: left;
    }
    .footer-logo-title{
        
        text-align: left;
    }
    .footer{
        text-align: left;
        padding-left: 20px;
    }
    }
    
    
    

    
    
    




